@model IEnumerable<UniETicaret.MvcWeb.Entity.Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container pb-5">
    <h2>Yeni Ürün</h2>
    <hr />
    <p>
        @Html.ActionLink("Yeni Ürün", "Create", null, new { @class = "btn btn-primary" }) 
        !Ürün Güncelle Kısmı Henüz Eklenmedi, Ürün Ekleme Yapabilirsiniz!
    </p>
    <hr />
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategori.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anasayfada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Satistami)
            </th>
            <th style="width: 140px;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="/Upload/@item.Resim" width="70" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategori.Isim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Isim)
                </td>
                <td>
                    @if (item.Anasayfada)
                    {
                        <label class="badge badge-success">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            Evet
                        </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            Hayır
                        </label>
                    }
                </td>
                <td>
                    @if (item.Satistami)
                    {
                        <label class="badge badge-success">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            Evet
                        </label>
                    }
                    else
                    {
                        <label class="badge badge-danger">
                            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            Hayır
                        </label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>